html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Adobe arabic;
    background-color: #ddd;
    line-height: 1.65;
}

.container-satu {
    display: flex;
    background: linear-gradient(to bottom, #f5f5f5, #ddd),('img/bunga1.jpg');
    background-size: cover;
    background-position: center;
}

.sidebar-satu, .sidebar-dua {
    width: 20%;
    padding: 10px;
    background-color: rgb(243, 205, 219);
    color: #333;
}

.sidebar-satu {
    order: -1;
}

.kolom-utama {
        width: 60%;
        padding: 20px;
        background-image: url('img/bunga1.jpg');
        background-color: #000000;
        color: rgb(0, 0, 0);
        box-sizing: border-box;
}